/* HTML Elements */
body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

p {
  color: #8f8f8f;
  line-height: 2;
}

/* Container section */
.container-fluid {
  /* top leftright bottom */
  padding: 7% 15%;
}

/* Sections */
.colored-section{
  background-color: #ff4c68;
  color: #fff;
}

#testimonials {
  /* topbottom leftright */
  background-color: #ef8172;
}

.white-section{
  background-color: #fff;
}

/* Title section */
#title {
  text-align: left;
}

#title .container-fluid{
  padding: 3% 15% 7%;
}


/* Headings */
.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  padding: 5% 0;
}

.price-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.cta-h3 {
  font-size: 3rem;
  line-height: 1.5;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 500;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

.nav-item {
  padding: 0 18px;
}

/* Title Image */
.dogphone {
  transform: rotate(25deg);
  width: 25rem;
  position: absolute;
  right: 30%;
}

.title-image-container-height {
  height: 500px;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Feature Title*/
#features {
  position: relative;
  z-index: 1;
}

.feature-div {
  padding: 4.5%;
}

.feature-Title {
  font-size: 1.5rem;
}

.feature-icon {
  color: #ef8172;
  font-size: 3rem;
  margin-bottom: 3%;
}

.feature-icon:hover {
  color: #ff4c68;
}

.feature-para {
  color: #8f8f8f;
  line-height: 2;
}

/* Testimonial section */

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  margin: 20px;
  border-radius: 100% 100% 100% 100%;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing section */
#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* Media Query */
@media(max-width:1700px) {
  .dogphone {
    position: static;
  }
}

@media(max-width:1028px) {
  .dogphone {
    position: static;
    transform: none;
  }

  .heading {
    text-align: center;
  }

  #title {
    text-align: center;
  }
}
/* Footer  */
#footer {
  margin: 5%;
}

.copyright {
  margin-top: 1%;
  font-weight: light;
}

.icon-foot {
  padding: 0 .5rem;
}
